{% extends 'base/side.html' %}
{% block content %}



   <div class="col-md-6 offset-md-3" style="margin-inline-start: 450px;">
                    <span class="anchor" id="formPayment"></span>
                    <hr class="my-5">

                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <h3 class="text-center">Enter 6 digit OTP</h3>
                            <hr>
                            <div style="display: none;" id="login_error" class="alert alert-danger m-2">
                            
                            </div>
                            <form  method="POST" class="form" role="form">
                              {% csrf_token %}
                                <div class="form-group">
                                    <label for="cc_name">OTP</label>
                                    <input type="text" class="form-control" id="Otp" name="Otp" title="Enter your Otp">
                                </div>
<!-- 
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" autocomplete="off" maxlength="20" id="password" name="password" required="">
                                </div> -->
                                <div class="form-group row">

                                    <div class="col-md-6" style="margin-inline-start: 238px;">
                                        {% if phone%}
                                        <button type="submit" id="login_button_otp" href_url="{% url 'customer:otp_verification' phone %}" class="btn btn-success btn-lg btn-block">Submit</button>
                                        {%endif%}
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
{% endblock content %}
